# Virtual environments
venv/

# Python cache
__pycache__/
*.pyc

# Data (SoccerNet videos/images)
data/
inference_outputs/
*.mkv
*.mp4
*.npy

# Jupyter checkpoints
.ipynb_checkpoints/

# Models
#*.pt
models_history/
oldmodels/